
input[type=checkbox], main.checkoutwc input[type=checkbox] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    box-shadow: inset 0 0 0 0 #000;
    cursor: pointer;
    height: var(--checkboxSize) !important;
    min-width: var(--checkboxSize) !important;
    outline: none;
    position: relative;
    transition: all .2s ease-in-out;
    vertical-align: -4px;
    width: var(--checkboxSize) !important;
  }
  
  [dir=ltr] {
    input[type=checkbox], main.checkoutwc input[type=checkbox] {
      margin-left: 0;
      margin-right: 0.5em !important;
    }
  }
  
  [dir=rtl] {
    input[type=checkbox], main.checkoutwc input[type=checkbox] {
      margin-left: 0.5em !important;
      margin-right: 0;
    }
  }
  
  input[type=checkbox]:checked, main.checkoutwc input[type=checkbox]:checked {
    border: none;
    box-shadow: inset 0 0 0 10px #000;
  }
  
  input[type=checkbox]:checked:after, main.checkoutwc input[type=checkbox]:checked:after {
    opacity: 1;
    transform: scale(1);
  }
  
  input[type=checkbox]:after, main.checkoutwc input[type=checkbox]:after {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMC4zIiBoZWlnaHQ9IjgiIHZpZXdCb3g9IjguOSAwLjMgMTAuMyA4Ij48cGF0aCBmaWxsPSIjZmZmIiBkPSJNMTIuNiA4LjEgOC45IDQuM2wxLTEuMSAyLjcgMi43TDE4LjEuNWwxIDF6Ii8+PC9zdmc+), none;
    content: "";
    display: block;
    height: 8px;
    margin-top: -4px;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: scale(0.2);
    transition: all .2s ease-in-out .1s;
    width: 10px;
  }
  
  [dir=ltr] {
    input[type=checkbox]:after, main.checkoutwc input[type=checkbox]:after {
      left: 50%;
      margin-left: -5px;
    }
  }
  
  [dir=rtl] {
    input[type=checkbox]:after, main.checkoutwc input[type=checkbox]:after {
      margin-right: -5px;
      right: 50%;
    }
  }
  
  input[type=radio] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    box-shadow: inset 0 0 0 0 #000;
    cursor: pointer;
    height: var(--checkboxSize) !important;
    min-width: var(--checkboxSize) !important;
    outline: none;
    position: relative;
    transition: all .2s ease-in-out;
    vertical-align: -4px;
    width: var(--checkboxSize) !important;
  }
  
  [dir=ltr] input[type=radio] {
    margin-right: 0.5em;
  }
  
  [dir=rtl] input[type=radio] {
    margin-left: 0.5em;
  }
  
  input[type=radio]:after {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    display: block;
    height: 4px;
    margin-top: -2px;
    opacity: 1;
    position: absolute;
    top: 50%;
    transform: scale(1);
    transition: all .2s ease-in-out .1s;
    width: 4px;
  }
  
  [dir=ltr] input[type=radio]:after {
    left: 50%;
  }